.DS_Store

# Neovim runtime artifacts
nvim/spell/
nvim/tags
nvim/.luarc.json

# Lazygit runtime state
lazygit/state.yml

# Obsidian runtime files
obsidian/.obsidian/workspace.json
obsidian/.obsidian/workspace-mobile.json
obsidian/.obsidian/cache
obsidian/.trash/
